html {
    height: 100%;
}

body {
    background-color: rgb(3, 164, 244);
    font-family: 'Viga', sans-serif;
    margin: 0;
    height: 100%;
}

h1 {
    background: #333333;
    margin: 0;
    color: white;
}

tr:nth-child(even) {
    background-color: rgb(173, 173, 173);
}

button {
    cursor: pointer;
    user-select: none;
    outline: none;
    border: none;

}

i {
    transition: all 0.5s ease;
    vertical-align: middle;
}

/* -- CLASSES --*/

.addBodyComponentButton {
    background-color: #333;
    border-radius: 5px;
    padding: 10px;
    border: none;
    outline: none;
    user-select: none;
    width: 140px;
    margin: 2px 0;

}

.addBodyComponentButton:hover {
    background: #656565;

}

.centre {
    text-align: center;
}

.addedComponent {
    padding: 10px;
    background-color: #333;
    cursor: pointer;
    user-select: none;
    margin: 3px;
    border-radius: 5px;
    border-style: none;
}

.move {
    color: #a9b7c6;
}

.work {
    color: #ffe56d;
}

.carry {
    color: #777;
}

.attack {
    color: #f93842;
}

.ranged_attack {
    color: #5d80b2;
}

.heal {
    color: #65fd62;
}

.claim {
    color: #b99cfb;
}

.tough {
    color: #fff;
}

.additional-functionality-buttons {
    margin-top: 5px;
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    vertical-align: middle;
    color: white;
    background: #333333;

}

.successful {
    color: #3ccb5c;
}

/* -- IDS --*/
#left-side-bar {
    left: 0;
    top: 0;
    width: 150px;
    height: 100%;
    float: left;
    background: #4b4b4b;
}

#body-percent-display {
    width: inherit;
    height: 150px;
}

#mainContentContainer {
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    width: 1200px;
    margin: auto;
    float: left;
}

#addedComponentsDiv {
    margin: 10px;
}

#copyBodyButton {
    padding: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

}

#progress-bar {
    width: 50%;
    min-width: 500px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    height: 30px;
    margin: 10px auto;
    overflow: hidden;

}

#progress {
    background: orange;
    height: 100%;
    width: 0;
    -webkit-border-radius: inherit;
    -moz-border-radius: inherit;
    border-radius: inherit;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    color: white;

}

#clearButton {
    background: #ff202b;
}

/* Order matters here!*/
button:link {

}

button:visited {

}

button:hover {

}

button:active {

}